body, html {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 23px;

    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-button {
    border-radius: 7px;
    background-color: #3882f6;
    color: #f9faf8;

    padding: 6px 25px;
    margin-top: 12px;
    font-weight: 600;
    font-size: 14px;
    border: none;
}

/* header */
.header {
    background-color: #1f2937;
    
    display: flex;
    justify-content: center;

    /* position: sticky */
}

.header-info {
    max-width: 1250px;
    margin: 0 100px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content {
    display: flex;
    flex-direction: column;
}

/* hero container */

.hero-container {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    max-width: 1250px;

    margin: 0 100px;
    padding: 100px 0px;

    display: flex;
    flex: 1;
    gap: 45px;
}

.hero-info > * {
    flex: 1;
}

.hero-image {
    display: flex;
    color: #e5e7eb;
    background-color: #6D747D;
    justify-content: center;
    align-items: center;
}

/* images */

.images-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information1 {
    max-width: 1100px;
    margin: 0 125px;
    padding: 65px 0;
    gap: 30px;

    flex: 1;
    display: flex;
    flex-direction: column;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;

    align-self: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.image-block {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 9px;
}

.image {
    max-width: 180px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.image-text {
    color: #51565c;
}

/* quote */

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;

}

.quote-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 75px;
    padding: 155px 0 115px 0;
}

.quote {
    color: #1f2937;
    font-size: 36px;
} 

.quote-author {
    margin-left: auto;
    font-weight: 700;
    font-size: 20px;
}

/* advertisement section */

.advertisement {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.adv-rectangle {
    max-width: 1250px;
    margin: 125px;
    flex: 1;

    background-color: #3882f6;
    border-radius: 9px;
}

.adv-info {
    padding: 32px 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commercial-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.adv-text-header {
    color: #f9faf8;
    font-weight: 700;
    font-size: 20px;
}

.adv-text-instruction {
    color: #e5e7eb;
}

.adv-button {
    padding: 7px 25px;

    font-weight: 700;
    font-size: 16px;
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 5px;
}