body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 23px;

    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-button {
    border-radius: 7px;
    background-color: #3882f6;
    color: #f9faf8;

    padding: 6px 25px;
    margin-top: 12px;
    font-weight: 600;
    font-size: 14px;
    border: none;
}

/* header */
.header {
    background-color: #1f2937;
    
    display: flex;
    justify-content: center;

    /* position: sticky */
}

.header-info {
    max-width: 1250px;
    margin: 0 100px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

/* hero container */

.hero-container {
    background-color: #1f2937;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    max-width: 1250px;

    margin: 0 100px;
    padding: 100px 0px;

    display: flex;
    flex: 1;
    gap: 45px;
}

.hero-info > * {
    flex: 1;
}

.hero-image {
    display: flex;
    color: #e5e7eb;
    background-color: #6D747D;
    justify-content: center;
    align-items: center;
}